<!DOCTYPE html>
<html>
<head>
  <title>Superdash plugin counter</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "superdash_plugin/counter/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
